# Linear Regression and Learning Curves

import useful modules. We will import specific features of sklearn as soon as we need them.

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

Read the datafile

In [2]:
protein=pd.read_csv('protein_reduced.csv',index_col=0)

See a recap of the main information

In [3]:
protein.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 753 entries, 0 to 752
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SUR_CONT_5.0   753 non-null    float64
 1   SUR_CONT_10.0  753 non-null    float64
 2   SUR_CONT_15.0  753 non-null    float64
 3   SUR_CONT_20.0  753 non-null    float64
 4   SUR_CONT_25.0  753 non-null    float64
 5   SUR_CONT_30.0  753 non-null    float64
 6   VOL_CONT_5.0   753 non-null    float64
 7   VOL_CONT_10.0  753 non-null    float64
 8   VOL_CONT_15.0  753 non-null    float64
 9   VOL_CONT_20.0  753 non-null    float64
 10  VOL_CONT_25.0  753 non-null    float64
 11  VOL_CONT_30.0  753 non-null    float64
 12  R_vs_COM       753 non-null    float64
dtypes: float64(13)
memory usage: 82.4 KB

In [4]:
protein_features=protein.drop('R_vs_COM',axis=1)
protein_features.head()

,SUR_CONT_5.0,SUR_CONT_10.0,SUR_CONT_15.0,SUR_CONT_20.0,SUR_CONT_25.0,SUR_CONT_30.0,VOL_CONT_5.0,VOL_CONT_10.0,VOL_CONT_15.0,VOL_CONT_20.0,VOL_CONT_25.0,VOL_CONT_30.0
0,121.522571,548.881028,1264.830463,2289.518419,3391.337424,3653.967363,223.210796,1143.797421,3207.296557,5795.562616,7437.812100,7679.494767
1,134.702052,636.530842,1387.827686,2514.313781,3500.515835,3671.055810,290.567109,1327.942094,3665.775446,6226.401736,7525.075946,7690.406892
2,114.170039,810.368483,1933.682919,3205.454201,3625.612448,3677.940933,454.008471,2309.263868,5206.656879,7176.821360,7647.408006,7692.459359
3,145.443717,534.715664,1293.692551,2189.031480,2983.734659,3550.846935,258.304961,1307.891841,3086.614355,5262.122889,6800.541229,7582.953084
4,142.193057,537.457788,1295.587449,2192.705808,3036.771003,3571.304334,243.117558,1284.578485,3080.921720,5310.062713,6891.578978,7604.861335

In [5]:
protein_label=protein[['R_vs_COM']]
protein_label.head()

    R_vs_COM
0  12.801075
1  11.742350
2   8.098929
3  14.262991
4  14.117165

Assignment 1A: Using the StandardScaler object of Scikit-Learn, perform standard scaling of the features

In [11]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
protein_features_scaled=protein_features # MODIFY THIS LINE

In [10]:
protein_features_scaled.head()

,SUR_CONT_5.0,SUR_CONT_10.0,SUR_CONT_15.0,SUR_CONT_20.0,SUR_CONT_25.0,SUR_CONT_30.0,VOL_CONT_5.0,VOL_CONT_10.0,VOL_CONT_15.0,VOL_CONT_20.0,VOL_CONT_25.0,VOL_CONT_30.0
0,121.522571,548.881028,1264.830463,2289.518419,3391.337424,3653.967363,223.210796,1143.797421,3207.296557,5795.562616,7437.812100,7679.494767
1,134.702052,636.530842,1387.827686,2514.313781,3500.515835,3671.055810,290.567109,1327.942094,3665.775446,6226.401736,7525.075946,7690.406892
2,114.170039,810.368483,1933.682919,3205.454201,3625.612448,3677.940933,454.008471,2309.263868,5206.656879,7176.821360,7647.408006,7692.459359
3,145.443717,534.715664,1293.692551,2189.031480,2983.734659,3550.846935,258.304961,1307.891841,3086.614355,5262.122889,6800.541229,7582.953084
4,142.193057,537.457788,1295.587449,2192.705808,3036.771003,3571.304334,243.117558,1284.578485,3080.921720,5310.062713,6891.578978,7604.861335

Assignment 1B: for each of the features perform a linear regression to fit the distance from the center of mass (protein_label). Compute the regression score (R2 coefficient) for each fit and identify the best feature. Note that the linear regression object expect the features to be in a two-dimensional array, i.e. it expect to work on multiple features. Since in this case you are performing a series of linear regression on a single feature, you need to reshape this one-dimensional array as a matrix with one column. This can be done in the following way

In [48]:
X=protein_features.iloc[:,0].values #this is the numpy array that contains the values of the first feature
print(type(X),X.shape) # in the print out you can see that the array has a single dimension with 753 values
Y=X.reshape(-1,1) # we can reshape it to become a two dimensional array 753 times 1
print(type(Y),Y.shape)

<class 'numpy.ndarray'> (753,)
<class 'numpy.ndarray'> (753, 1)

In [8]:
from sklearn.linear_model import LinearRegression
linear_regression = LinearRegression()
for i in range(protein_features.shape[1]):
    Y=protein_features.iloc[:,i].values.reshape(-1,1)

Assignment 1C: plot the scatter plot of the data together with the regression line. You can compute the regression line by computing the value of the labels predicted by the model on the given array of features. To get these values you can use the predict() method of the linear regression object, with the protein_feature as argument.

Assignment 1D: Compute the mean squared error of the fit, i.e. the average squared difference between the given labels and the predicted labels. You can implement the math yourself, or you can use the sklearn.metrics mean_squared_error() function.

In [27]:
from sklearn.metrics import mean_squared_error

Assignment 1E: Compute the learning curves for the linear regression. You can use the sklearn.model_selection train_test_split function to generate a random split of training vs validation set.

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(protein_features['VOL_CONT_15.0'].values.reshape(-1,1),protein_label, test_size=0.2)

You can now compute the mean squared error as a function of the number of data points in the training set. Vary this number from 1 to the whole training set and save the mean squared error from each training. For each traning you can now compute the validation error, i.e. the mean square error in the prediction vs labels for the whole validation set.

In [16]:
train_errors=[]
val_errors=[]
for m in range(1,len(X_train)):

SyntaxError: unexpected EOF while parsing (1002935984.py, line 3)

Plot the learning curves